.button {
    background-color: #28A745;
    width: 156px;
    height: 45px;
    color:#FFFFFF;
    border: 0px;
    border-radius: 5px;
}

.buttonBorder {
    composes: button;
border: 1px solid #FFFFFF;
}





.button:hover,
.button:focus{
    background-color: rgba(33, 215, 84, 0.6);

}