
.text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    color:#333333;
    text-align: center;;
}

.textWhite{
    composes: text;
    color: #ffffff;
    margin-bottom: 24px;
    text-align: start;
}

@media (min-width: 768px) {
    .text {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 28px;
    }
}