.container {
    background-color: #28A745;
    /*  */
    padding-top: 101.5px;

}

.divText {
    padding: 40px 30px;
}

.divImg{
    min-width: 320px;
    min-height: 247px;
            background-image: url(../../images/image/LookSixPeople.jpg);
                background-position: 50% 50%;
            
                background-size: cover;
}

.preface {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.title {
    margin-bottom: 24px;
    /* font-weight: 300;
    font-size: 38px;
    line-height: 48px; */
}

   @media (min-width: 768px) {
.divText {
            padding: 40px 53px 40px 32px;
        }

.divImg {
        min-width: 368px;
        min-height: 589px;

}

.container {
display: flex;
padding-top: 63px;

}

    
   }

    @media (min-width: 1360px) {
        .divImg {
                min-height: 460px;
                min-width: 670px;
            }
        .container {
/*  */
                padding-top: 55px;
        
            }
        .divText {
            padding: 80px 64px 80px 20px;
        }

        }