.container {
    background-color: #28A745;

}

.divText {
    padding: 40px 30px;
}

.img {
    padding-top: 142px;
    background-size: cover;
    max-width: 100%;
}

.preface {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.title {
    margin-bottom: 24px;
    /* font-weight: 300;
    font-size: 38px;
    line-height: 48px; */
}