.li:not(:last-child){
    margin-bottom: 8px;
}

.img{
    width: 280px;
    height: 176px;
}

@media (min-width:768px) {
.img {
        width: 223px;
        height: 148px;
    }
}

@media (min-width:1360px) {
    .img {
        width: 421px;
        height: 282px;
    }
}