.error{
    color:red;
}


.item{
    max-width: 280px;
}



.input{
    min-width: 280px;
    min-height: 40px;
    border: 1px solid #F5F5F5;

    outline: none;
    /* display: flex;
    justify-content: center; */
    
}
.list{
    display: flex;
flex-direction: column;
align-items: center;
}


.item:last-child{
margin-bottom: 40px;
}

.item:not(:last-child) {
margin-bottom: 16px;

}

.label{
    color: #808080;
}

.button{
width: 280px;
height: 42px;
background-color: #28A745;
color:#FFFFFF;
border-radius: 5px;
}
.button:hover,
.button:focus {
    background-color: rgba(33, 215, 84, 0.8);

}

.divButton{
    display: flex;
    justify-content: center;
}

.errorEmail{
    display: flex;
    align-items: center;
}

.svg{
    margin-right: 5px;
}


@media (min-width:768px) {
    .input{
        min-width:324px;

    }
    .item {max-width: 500px;}
     .button{
         width: 336px;  
}
.list {
    align-items: flex-start;
}
.divButton {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item {
    max-width: 324px;
}

}
@media (min-width:1360px) {

        .input {
            min-width: 620px;
            }
         .button{
            width: 642px;  
}
.item {
    max-width: 620px;
}
}