.header {
    padding: auto 20px;
    display: flex;


    height: 102px;
    position: fixed;

    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #FFFFFF;

    z-index: 10;


}
.headerMobile {
    padding: auto 20px;
    display: flex;

    height: 102px;
    position: fixed;

    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #FFFFFF;

    background-color: #333333;
    opacity: 0.8;
    z-index: 10;


}



.logo {
    margin-top: 21px;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.svg {
    fill: #28A745;
}

.logo:hover {
    transform: scale(1.1);
    transition: 500ms;
}

.logo:hover .svg {
    fill: rgb(0, 234, 51)
}

.logo:hover .logoGreen {
    color: rgb(0, 234, 51)
}

.logoGreen {
    color: #28A745;

}

.menu {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    position: relative;


}


.link {
    color: #FFFFFF;
}



.item {
    /* position: relative; */
}

.activeHome,
.activeAbout,
.activeCases,
.activeBlog,
.activeContact {
    color: #ffffff
}

.item {
        cursor: pointer;
}

.item:not(:last-child) {
    margin-right: 12px;
}
.home::after{
    content: "";
        height: 4px;
        background-color: #06c332;
        border-radius: 2px;
        z-index: 2;
        position: absolute;
        top: 23px;
        left: 0px;
        width: 46px;
        opacity: 1;
}


.activeHome:hover::after {
    content: "";
    height: 4px;
    background-color: #06c332;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 23px;
    left: 0px;
    width: 46px;
    opacity: 1;

}

.about::after {
    content: "";
    height: 4px;
    background-color: #06c332;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 23px;
    left: 55px;
    width: 49px;

}

.activeAbout:hover::after {
    content: "";
    height: 4px;
    background-color: #06c332;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 23px;
    left: 55px;
    width: 49px;

}

.cases::after {
    content: "";
    height: 4px;
    background-color: #06c332;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 23px;
    left: 112px;
    width: 49px;

}

.activeCases:hover::after {
    content: "";
    height: 4px;
    background-color: #06c332;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 23px;
    left: 112px;
    width: 49px;

}
.blog::after {
    content: "";
    height: 4px;
    background-color: #06c332;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 23px;
    left: 166px;
    width: 40px;

}

.activeBlog:hover::after{
    content: "";
    height: 4px;
    background-color: #06c332;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 23px;
    left: 166px;
    width: 40px;

}
.contact::after {
    content: "";
    height: 4px;
    background-color: #06c332;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 23px;
    left: 212px;
    width: 62px;

}

.activeContact:hover::after {
    content: "";
    height: 4px;
    background-color: #06c332;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 23px;
    left: 212px;
    width: 62px;

}

.activeLink {
    color: #ffffff;
}


.item:not(:last-child) {
    margin-right: 12px;
}

@media (min-width: 768px) {
    

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 63px;
    }
        .headerMobile {
         flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 63px;

                }

    .logo {
        margin-top: 20px;
        margin-left: 32px;
        margin-bottom: 0px;
        font-size: 35px;
    }

    .logoGreen {
        margin-right: 5px;
    }

    .menu {
        margin-top: 28px;
        margin-right: 32px;
        font-size: 18px;

    }
    .item:not(:last-child) {
    margin-right: 20px;

}

    .item:not(:last-child) {
        margin-right: 20px;
    }




.activeHome:hover::after {
        top: 30px;
    }

.activeAbout:hover::after {
    left: 70px;
        top: 30px;
        width: 52px;
        
    }

.activeCases:hover::after {
    left: 141px;
        top: 30px;
        width: 52px;
    }

.activeBlog:hover::after {
    left: 210px;
        top: 30px;
    }

.activeContact:hover::after {
    left: 268px;
        top: 30px;
        width: 66px;
    }
.home::after {
    top: 30px;
}

.about::after {
    left: 70px;
    top: 30px;
    width: 52px;

}

.cases::after {
    left: 141px;
    top: 30px;
    width: 52px;
}

.blog::after {
    left: 210px;
    top: 30px;
}

.contact::after {
    left: 268px;
    top: 30px;
    width: 66px;
}


}

@media (min-width: 1360px) {
    .header {
        height: 55px;

    }
        .headerMobile {
        height: 55px;

    }

    .logo {
        margin-top: 12px;
        margin-left: 28px;
    }

    .menu {
        margin-top: 20px;
        margin-right: 28px;

    }

        .activeAbout:hover::after {
            left: 90px;
        }

         .activeCases:hover::after {
            left: 181px;
         }
        .activeBlog:hover::after {
            left: 270px;
        }
        
        .activeContact:hover::after {
            left: 348px;
        }

        .about::after {
            left: 90px;
        }

        .cases::after {
            left: 181px;
         }
        .blog::after {
            left: 270px;
        }
        
        .contact::after {
            left: 348px;
        }
        .item:not(:last-child) {
    margin-right: 40px;

}

    .item:not(:last-child) {
        margin-right: 40px;
    }
}