.preface {
margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color:#333333;
    text-align: center;
}

.prefaceWhite{
    composes: preface;
    color: white;
    margin-bottom: 8px;
    text-align: start;
}

@media (min-width: 768px) {
    .preface {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 33px;
    }
}
