.container{

    padding: 142px 20px 40px;
}

@media (min-width: 768px) {
    .container {

            padding: 106px 32px 40px;
        }
    
}
@media (min-width: 1360px) {
    .container {

            padding: 135px 28px 80px;
        }
}