.container{
                background-image: url(../../images/image/Rectangle.jpg);
                background-repeat: no-repeat;
                background-size:cover;
                background-position: 50% 50%;
                min-height: 100vh;
                min-width: 100vw;
                color:#E9E9E9;
                display: flex;
                 flex-direction: column;
                justify-content: center;
    text-align: center;

                
}

.title{

    margin-bottom: 20px;
    font-weight: 300;
        font-size: 52px;
        line-height: 66px;
   

}

.text{

    text-align: center;
    font-size: 22px;
    line-height: 37px;
        margin-bottom: 24px;


}
.containerButton {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.button {
    width: 156px;
    height: 45px;
}


@media (min-width: 768px) {


    .title {
    padding-top: 0px;
    }
    
}


